services:
    app:
        build:
            context: .
            dockerfile: docker/Dockerfile
        ports:
            - "0.0.0.0:8090:80"
        volumes:
            - .:/var/www/html
            - ./docker/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
        extra_hosts:
            - "host.docker.internal:host-gateway"
        environment:
            - APP_DEBUG=${APP_DEBUG}
            - APP_KEY=${APP_KEY}
            - DB_CONNECTION=${DB_CONNECTION}
            - DB_HOST=${DB_HOST}
            - DB_PORT=${DB_PORT}
            - DB_DATABASE=${DB_DATABASE}
            - DB_USERNAME=${DB_USERNAME}
            - DB_PASSWORD=${DB_PASSWORD}
            # - XDEBUG_CONFIG=discover_client_host=true start_with_request=yes
        depends_on:
            - mysql

    mysql:
        image: mysql:8.0
        environment:
            - MYSQL_DATABASE=${DB_DATABASE}
            - MYSQL_ROOT_PASSWORD=${DB_PASSWORD}
        volumes:
            - ./docker/mysql-data:/var/lib/mysql
        ports:
            - "3306:3306"

volumes:
    mysql-data:
